body {
    background-color: #e5e5e5cc;
    font-family: 'Times New Roman', Times, serif;
}

.inpost-img {
    width: 100%;
    height: auto;
    margin-right: 20px;
}

.header {
    width: 100%;
    height: 80px;
}

.inner_header {
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;

    
}

.logo_container {
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1 {
    color: #013501;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: "Montserrat";
    font-size: 2.5em;
}

.language {
    float: right;
    height: 90%;
}

.language a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    list-style: none;
    text-decoration: none;
}

.language a:last-child {
    padding-right: 0;
}

.language a li {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: #013501;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    transition: .2s;
}

.language a li:hover {
    color: white;
    transition: .2s;
}

.main {
    width: 100%;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: red; */
}

.inner_main {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
    margin: 0 auto;
    /* background-color: rgb(0, 51, 255); */
    margin-bottom: 10%;
}

.blog_content {
    width: 650px;
    /* background-color: rgb(6, 174, 84); */
    
}

.blog_content h2 {
    font-size: 1.3em;
    margin-top: 0;
}

.blog_content h3 {
    font-size: 1.3em;
    margin-bottom: 10px;
}

.blog_content p {
    text-align: left;
    font-size: 1em;
    line-height: 1.6;
}

.profile_container {
    width: 300px;
    /* background-color: rgb(174, 6, 163); */

}

.profile {
    width: 100%;
    padding: 30px;
    background-color: white;
    border-radius: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 24%;
    margin-right: 20px;
}

.profile_info {
    text-align: left;
}

.profile_info h4 {
    font-size: 1.5em;
    font-weight: 500px;
    margin: 5px 0;
    color: black;
}

.profile_info h5 {
    font-size: 1em;
    margin: 5px 0;
    color: gray;
}

.profile_info h6 {
    font-size: 1em;
    margin: 5px 0;
    color: black;
}

.twitter {
    width: 100%;
    margin-top: 35px;
}

.footer {
    position: relative;
    height: 100px;
    margin-top: -100px;
    /* background-color: rgb(171, 210, 28); */
}

.inner_footer {
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
    /* background-color: rgb(217, 38, 163); */
}



@media screen and (max-width: 1150px) {
    .inner_main {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }
    .profile_container {
        width: 100%;
        order: 1;
        margin-bottom: 60px; 
        padding-left: 0px; 
    }
    .profile{
        width: 95%;
        padding-right: 10px;
    }
    .blog_content {
        width: 100%;
        order: 2;
    }
    .twitter {
        display: none;
    }
}
