body {
    background-color: #e5e5e5cc;
    font-family: "Montserrat";
    padding: 0;
    margin: 0;
}

/*SETTING OF IMAGES USED IN ARTICLE*/
.inpost-img {
    width: 100%;
    height: auto;
    margin-right: 20px;
}

.header {
    max-width:max-content;
    margin: 0;
    /* background-color: rgb(171, 210, 28); */
}
#cover{
    background-image: url(header_cover.jpg);
    background-size: cover;
    max-width:100%;
    height: 80px;
}
.inner_header {
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container {
    height: 100%;
    display: table;
    float: left;
}

.logo_container a{
    list-style: none;
    text-decoration: none;
}
.logo_container h1{
    color: #013501;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    padding-top: 20px;
    font-family: "Montserrat";
    font-size: 2.5em;

}
.logo_container a h1:hover {
    color: white;
    transition: .2s;
}

/* .nav {
    float: right;
    height: 90%;
}

.nav a {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    list-style: none;
    text-decoration: none;
}

.nav a:last-child {
    padding-right: 0;
}

.nav a li {
    display: table-cell;
    font-weight: bold;
    vertical-align: middle;
    height: 100%;
    color: #013501;
    font-family: "Montserrat";
    font-size: 1.2em;
    transition: .2s;
}

.nav a li:hover {
    color: white;
    transition: .2s;
} */

.main {
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: red; */
}

.inner_main {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
    margin: 0 auto;
    /* background-color: rgb(0, 51, 255); */
    margin-bottom: 10%;
}

.blog_content {
    width: 650px;
    /* background-color: rgb(6, 174, 84); */
    
}

.blog_content h2 {
    font-size: 1.3em;
    margin-top: 0;
}

.blog_content h3 {
    font-size: 1.3em;
    margin-bottom: 10px;
    margin-top: 20px;
    background-color: rgb(214, 214, 214);
}

.blog_content p {
    text-align: left;
    font-size: 1em;
    padding-top: 10px;
    line-height: 2;
}
.all_archive{
    width: 100%;
    justify-content: center;
}
.all_archive a{
    text-decoration: none;
}
.all_archive h3{
    height: auto;
    font-size: 20px;
    padding: 10px;
    margin-top: 30px;
    text-align: center;
    background-color: rgb(228, 228, 228);
    color: black;
}
.all_archive h3:hover{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: .2s;
}
.profile_container {
    width: 300px;
    /* background-color: rgb(174, 6, 163); */

}

.profile {
    max-width: 100%;
    height: auto;
    display: flex;
    padding: 25px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 24%;
}

.profile_info {
    text-align: left;
    margin-left: 18px;
    padding-top: 10px;
}

.profile_info h4 {
    font-size: 1.5em;
    font-weight: 500px;
    margin: 5px 0;
    color: black;
}

.profile_info h5 {
    font-size: 0.8em;
    margin: 5px 0;
    color: gray;
}

.profile_info h6 {
    font-size: 0.8em;
    margin: 5px 0;
    color: black;
}

.twitter {
    width: 100%;
    margin-top: 30px;
}
.archive{
    width: 100%;
    height: auto;
    margin-top: 30px;
    border-radius: 15px;
    background-color: rgb(246, 246, 246);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.archive_inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* background-color: blue; */
}
.archive_inner h6{
    margin: 0px;
    font-size: 20px;
    text-align: left;
    padding-left: 30px;
    padding-top: 10px;
}
.archive_inner li{
    list-style: none;
    text-align: left;
}

.footer {
    position: relative;
    height: 100px;
    margin-top: -100px;
    /* background-color: rgb(171, 210, 28); */
}

.inner_footer {
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
    /* background-color: rgb(217, 38, 163); */
}
/* .footer-tweet{
    display: none;
} */


@media screen and (max-width: 1045px) {
    .inner_main {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }
    .profile_container {
        width: 100%;
        order: 1;
        margin-bottom: 60px; 
        padding-left: 0px; 
    }
    .blog_content {
        width: 100%;
        order: 2;
    }
    .archive{
        margin-top: 10px;
        background-color: rgb(246, 246, 246);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .twitter {
        display: none;
    }
    /* .footer-tweet{
        display: flex;
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10%;
    } */
    
}
