body {
    background-color: #e5e5e5cc;
    font-family: "Montserrat";
    padding: 0;
    margin: 0;
}

/*SETTING OF IMAGES USED IN ARTICLE*/
.inpost-img {
    width: 30%;
    height: auto;
}

.header {
    max-width:max-content;
    margin: 0;
    /* background-color: rgb(171, 210, 28); */
}
#cover{
    background-image: url(//home_image/header_cover.jpg);
    background-size: cover;
    max-width:100%;
    height: 80px;
}
.inner_header {
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}
.return{
    position:fixed; 
    bottom:0px; 
    left:85%;
    margin-right: 10px;
    height: 50px; 
    width: 50px; 
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    opacity: 95%;
}
.return:hover{
    background-color: rgb(215, 215, 215);
    opacity: 90%;
    transition: .2s;
}
.logo_container {
    height: 100%;
    display: table;
    float: left;
}

.logo_container a{
    list-style: none;
    text-decoration: none;
}
.logo_container h1{
    color: #013501;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    padding-top: 20px;
    font-family: "Montserrat";
    font-size: 2.5em;

}
.logo_container a h1:hover {
    color: white;
    transition: .2s;
}
.main {
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: red; */
}

.inner_main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    /* background-color: rgb(0, 51, 255); */
    margin-bottom: 10%;
}

.blog_content {
    width: 70em;
    /* background-color: rgb(6, 174, 84); */
    
}

.blog_content h2 {
    font-size: 1.3em;
    margin-top: 0;
}

.blog_content h3 {
    font-size: 1.3em;
    margin-bottom: 10px;
    margin-top: 20px;
    background-color: rgb(214, 214, 214);
}

.blog_content p {
    text-align: left;
    font-size: 1em;
    padding-top: 10px;
    line-height: 2;
}
@media screen and (max-width: 1170px) {
    .inner_main {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }
    .blog_content {
        width: 100%;
    }
    .inpost-img{
        width: 100%;
        height: auto;
    }
}