body{
    background-image: url(rest_image/clearsky.jpg);
    overflow: hidden; /* Prevent horizontal scrolling */
    margin: 0;
    padding: 0;
}
.top{
    width: 100%;
    height: 80%;
    position: absolute;
}

.bottom{
    width: 100%;
    height:20%;
    position: absolute;
    bottom: 0;
    background-image: url(rest_image/browndirt.jpg);
    z-index: 5;
}
.inner_bottom{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0px);
    width: 100%;
    height: 100%;
}
.return,a{
    width: 100%;
    list-style: none;
    text-decoration: none;

}
.return h1{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    opacity: 90%;
    font-size: 20px;
    text-align: center;
    color: rgb(30, 6, 6);
    transition: .4s;
}
.return h1:hover{
    cursor: pointer;
    color: rgb(84, 159, 239);
    transform: translateY(10px);
    transition: .3s;

}
.top h1 {
    position: absolute;
    width: 100%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(73, 64, 64);
}

#title{
    position: absolute;
    width: 100%;
    top: 50%; /* 画面の中央より少し下 */
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    color: rgb(220, 216, 216);
}
/* .top h2{
    position: absolute;
    width: 100%;
    top: 69.5%; /* 画面の中央より少し下 
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    text-align: center;
    font-weight: bolder;
    font-family: monospace;
    color: white;
} 
*/

#heart {
    width: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative; /* 要素の相対位置を指定 */
    top: 60%; /* 中央より少し下に移動 */
}

#character{
    position: absolute;
    bottom: 0;
    width:150px;
    left: 50%;
    transform: translate(-45%,20px);
    z-index: 3;
}
#think{
    position: absolute;
    left: 50%;
    transform: translate(-100px,-90px);
    bottom: 0;
    width: 40px;
}


/* .return{
    background-color: red;
    position: absolute;
    width: 100%;
    height:50%;

} */
.grass {
    width: 130px;
    height: 130px;
    position: absolute;
    transform: translate(0, 5px);
    z-index: 4;
    bottom: 0;
}

.falling-icon {
    position: absolute;
    width: 30px;
    animation-name: fall;
    animation-timing-function: ease-in-out; 
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    
}

@keyframes fall {
    0% {
        top: 0;
    }
    100% {
        top: 200vh; 
    }
}

/* 小さい画面のために調整 */
@media screen and (max-width: 768px) {
    .top h1 {
        top: 50%; 
        transform: translate(-50%, -50%);
    }
    .top h2 {
        top: 55%; 
        transform: translate(-50%, -50%);
    }

    .input {
        top: 62%; 
        transform: translate(-50%, -50%);
    }
}
